@using stack_overload.Models.ViewModels
@using stack_overload.Models
@model QuestionDetailsViewModel

<h1>Question: @Model.Title</h1>

<p>@Model.Body</p>


@foreach (Tag tag in Model.Tags) {
    <span>@tag.Name</span>
}

<a class="nav-link text-dark" asp-area="" asp-controller="Answers" asp-action="New" asp-route-id="@Model.Id">Answer this question</a>

@foreach (Answer answer in Model.Answers) {
    <p>@answer.Body</p>
}
